## Direct Marketing without using Privacy-preserving techniques

### Import all necessary libraries

In [665]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

### Import the dataset

In [666]:
dataset=pd.read_csv("DirectMarketing.csv")
dataset.head()

,Age,Gender,OwnHome,Married,Location(km),Salary,Children,History,Catalogs,AmountSpent,Customer Segment
0,58,Female,Own,Single,12.37,47500,0,High,6,755,Medium value
1,39,Male,Rent,Single,5.37,63600,0,High,6,1318,Medium value
2,26,Female,Rent,Single,3.02,13500,0,Low,18,296,Low value
3,54,Male,Own,Married,6.53,85600,1,High,18,2436,High value
4,37,Female,Own,Single,3.04,68400,0,High,12,1304,Medium value

Removing rows that have NaN values

In [667]:
dataset.dropna(axis=0)

,Age,Gender,OwnHome,Married,Location(km),Salary,Children,History,Catalogs,AmountSpent,Customer Segment
0,58,Female,Own,Single,12.37,47500,0,High,6,755,Medium value
1,39,Male,Rent,Single,5.37,63600,0,High,6,1318,Medium value
2,26,Female,Rent,Single,3.02,13500,0,Low,18,296,Low value
3,54,Male,Own,Married,6.53,85600,1,High,18,2436,High value
4,37,Female,Own,Single,3.04,68400,0,High,12,1304,Medium value
...,...,...,...,...,...,...,...,...,...,...,...
991,69,Female,Rent,Single,15.20,11700,0,Low,18,540,Medium value
993,54,Female,Own,Married,15.13,99200,0,High,24,5503,High value
997,60,Male,Own,Single,7.35,44800,0,Medium,24,1417,Medium value
998,54,Male,Own,Married,3.67,79000,2,Medium,18,671,Medium value
999,19,Male,Rent,Married,7.79,53600,1,Medium,24,973,Medium value

In [668]:
dataset["Gender"] = ['*' for x in dataset["Gender"]]
dataset["Married"]=[(('*'*(round(len(x)*.7))) + x[(round(len(x)*.7)):]) for x in dataset["Married"]]
dataset["OwnHome"]=[(('*'*(round(len(x)*.7))) + x[(round(len(x)*.7)):]) for x in dataset["OwnHome"]]
dataset["History"]=['**' for x in dataset["History"]]

index=0
for segment in dataset["Customer Segment"]:
    random_index= random.randint(4,8)
    if random_index>5:
        words_con=random_index/10
        dataset["Customer Segment"][index]=segment[:(round(len(segment))-round(len(segment)*words_con))] +'*'*round(len(segment)*words_con)
    elif random_index<=5:
        words_con=random_index/10
        dataset["Customer Segment"][index]='*'*round(len(segment)*words_con)+segment[(round(len(segment)*words_con)):] 
    index+=1




index=0
for distance in dataset["Location(km)"]:
    if distance>8:
        dataset["Location(km)"][index]="Far"
    else:
        dataset["Location(km)"][index]="Close"
    index+=1
index=0


for age in dataset["Age"]:
    if age<35:
        dataset["Age"][index]="Young"
    elif age<55:
        dataset["Age"][index]="Adulthood"
    else:
        dataset["Age"][index]="Old Adulthood"
    index+=1



index=0 
for children in dataset["Children"]:
    if children<2:
        dataset["Children"][index]="Few"
    elif children<=3:
        dataset["Children"][index]="Average"
    elif dataset>3:
        dataset["Children"][index]="Many"
    index+=1

C:\Users\Banele_Home\AppData\Local\Temp\ipykernel_15204\1653625049.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Customer Segment"][index]='*'*round(len(segment)*words_con)+segment[(round(len(segment)*words_con)):]
C:\Users\Banele_Home\AppData\Local\Temp\ipykernel_15204\1653625049.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Customer Segment"][index]=segment[:(round(len(segment))-round(len(segment)*words_con))] +'*'*round(len(segment)*words_con)
C:\Users\Banele_Home\AppData\Local\Temp\ipykernel_15204\1653625049.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Location(km)"][index]="Far"
C:\Users\Banele_Home\AppData\Local\Temp\ipykernel_15204\1653625049.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Age"][index]="Old Adulthood"
C:\Users\Banele_Home\AppData\Local\Temp\ipykernel_15204\1653625049.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Children"][index]="Few"

In [669]:
print(dataset.head())

             Age Gender OwnHome  Married Location(km)  Salary Children  \
0  Old Adulthood      *     **n   ****le          Far   47500      Few
1      Adulthood      *    ***t   ****le        Close   63600      Few
2          Young      *    ***t   ****le        Close   13500      Few
3      Adulthood      *     **n  *****ed        Close   85600      Few
4      Adulthood      *     **n   ****le        Close   68400      Few

  History  Catalogs  AmountSpent Customer Segment
0      **         6          755     ****** value
1      **         6         1318     *****m value
2      **        18          296        Lo*******
3      **        18         2436       *****value
4      **        12         1304     Medi********

In [670]:
print(dataset.iloc[0,:])

Age                 Old Adulthood
Gender                          *
OwnHome                       **n
Married                    ****le
Location(km)                  Far
Salary                      47500
Children                      Few
History                        **
Catalogs                        6
AmountSpent                   755
Customer Segment     ****** value
Name: 0, dtype: object

### Splitting the data into a set of predictors and responders

In [671]:
dataset.columns
datasetColumns=dataset.columns
x_columns=['Age', 'Gender', 'OwnHome', 'Married', 'Location(km)', 'Salary','Children', 'History', 'Catalogs', 'AmountSpent']
y_columns=['Customer Segment']
x_dataset = dataset[x_columns]
y_dataset = dataset[y_columns]

In [672]:
x_datasetColumns=x_dataset.columns
y_datasetColumns=y_dataset.columns

In [673]:

encodeGender=pd.get_dummies(x_dataset['Gender'])
encodeHome=pd.get_dummies(x_dataset['OwnHome'])
encodeMarried=pd.get_dummies(x_dataset['Married'])
encodeHistory=pd.get_dummies(x_dataset['History'])
encodeAge=pd.get_dummies(x_dataset['Age'])
encodeLocation=pd.get_dummies(x_dataset['Location(km)'])
encodeChildren=pd.get_dummies(x_dataset['Children'])

In [674]:
encodedData=pd.concat([encodeGender,encodeHome,encodeHistory,encodeMarried,encodeAge,encodeChildren,encodeLocation,x_dataset[[ 'Salary','Catalogs', 'AmountSpent']]],axis=1)
encodedData=encodedData.astype(float)
print(encodedData.head())

     *  ***t  **n   **  *****ed  ****le  Adulthood  Old Adulthood  Young  \
0  1.0   0.0  1.0  1.0      0.0     1.0        0.0            1.0    0.0
1  1.0   1.0  0.0  1.0      0.0     1.0        1.0            0.0    0.0
2  1.0   1.0  0.0  1.0      0.0     1.0        0.0            0.0    1.0
3  1.0   0.0  1.0  1.0      1.0     0.0        1.0            0.0    0.0
4  1.0   0.0  1.0  1.0      0.0     1.0        1.0            0.0    0.0

   Average  Few  Close  Far   Salary  Catalogs  AmountSpent
0      0.0  1.0    0.0  1.0  47500.0       6.0        755.0
1      0.0  1.0    1.0  0.0  63600.0       6.0       1318.0
2      0.0  1.0    1.0  0.0  13500.0      18.0        296.0
3      0.0  1.0    1.0  0.0  85600.0      18.0       2436.0
4      0.0  1.0    1.0  0.0  68400.0      12.0       1304.0

In [675]:
x_datasetColumns=encodedData.columns

In [676]:
x_dataset=encodedData.iloc[:,:].values
y_dataset =y_dataset.iloc[:,:].values

### Changing categorical values into numerical values

In [677]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
y_dataset=lb.fit_transform(y_dataset)

c:\Users\Banele_Home\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Splitting the data into train dataset and test dataset

In [678]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x_dataset,y_dataset,test_size=0.2, random_state=1)

In [679]:
print(x_train[0,:])

[1.00e+00 0.00e+00 1.00e+00 1.00e+00 0.00e+00 1.00e+00 0.00e+00 1.00e+00
 0.00e+00 0.00e+00 1.00e+00 1.00e+00 0.00e+00 3.96e+04 1.20e+01 6.10e+02]

### Feature Scaling of the variables

In [680]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train[:,13:]=sc.fit_transform(x_train[:,13:])
x_test[:,13:]=sc.transform(x_test[:,13:])

In [681]:
print(x_train[0,:])

[ 1.          0.          1.          1.          0.          1.
  0.          1.          0.          0.          1.          1.
  0.         -0.52755785 -0.39562169 -0.62035795]

### Implementing the model (Random Forest classification models)

In [682]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [683]:
from sklearn.metrics import confusion_matrix, accuracy_score,f1_score,precision_score, recall_score
y_pred = classifier.predict(x_test)
accuracy=accuracy_score(y_test, y_pred)
print(accuracy)
precision=precision_score(y_test, y_pred,average='macro')
recall=recall_score(y_test,y_pred,average='macro')
accuracy_measures=pd.DataFrame([accuracy,precision,recall],columns=["Accuracy Measures"],index=["accuracy score","precision score","recall score"])
accuracy_measures.to_csv('Accuracy metrics using preserving privacy techniques in Advanced analytics.csv')

0.245

In [684]:
print(precision)

0.22588636346400318

In [685]:
print(recall)

0.22206585684846555

In [686]:
x_test[:,13:]=sc.inverse_transform(x_test[:,13:])
y_test=lb.inverse_transform(y_test)
y_pred=lb.inverse_transform(y_pred)

In [687]:
y_test=pd.DataFrame(y_test,columns=["Actual Customer segments"])
y_pred=pd.DataFrame(y_pred,columns=["Predicted Customer segments"])
y_set=pd.concat([y_test,y_pred],axis=1)

In [688]:
print(y_set.head())

  Actual Customer segments Predicted Customer segments
0             ****** value                *****m value
1               Hi********                  **** value
2             *****m value                *****m value
3             Me**********                *****m value
4             Medi********                Medi********

In [689]:
tableData =pd.DataFrame(x_test,columns=x_datasetColumns) 
print(tableData)

       *  ***t  **n   **  *****ed  ****le  Adulthood  Old Adulthood  Young  \
0    1.0   1.0  0.0  1.0      0.0     1.0        1.0            0.0    0.0
1    1.0   1.0  0.0  1.0      1.0     0.0        1.0            0.0    0.0
2    1.0   0.0  1.0  1.0      0.0     1.0        1.0            0.0    0.0
3    1.0   1.0  0.0  1.0      1.0     0.0        1.0            0.0    0.0
4    1.0   0.0  1.0  1.0      1.0     0.0        0.0            1.0    0.0
..   ...   ...  ...  ...      ...     ...        ...            ...    ...
195  1.0   0.0  1.0  1.0      1.0     0.0        0.0            1.0    0.0
196  1.0   0.0  1.0  1.0      1.0     0.0        1.0            0.0    0.0
197  1.0   1.0  0.0  1.0      1.0     0.0        0.0            1.0    0.0
198  1.0   0.0  1.0  1.0      1.0     0.0        1.0            0.0    0.0
199  1.0   1.0  0.0  1.0      0.0     1.0        0.0            0.0    1.0

     Average  Few  Close  Far    Salary  Catalogs  AmountSpent
0        0.0  1.0    1.0  0.0   52400.0      18.0        857.0
1        0.0  1.0    0.0  1.0   92400.0       6.0       2191.0
2        0.0  1.0    0.0  1.0   50100.0      18.0       1071.0
3        0.0  1.0    1.0  0.0   46700.0      24.0        983.0
4        0.0  1.0    1.0  0.0  107400.0      12.0       1485.0
..       ...  ...    ...  ...       ...       ...          ...
195      0.0  1.0    0.0  1.0   41300.0      24.0       1985.0
196      0.0  1.0    1.0  0.0   54200.0       6.0        757.0
197      0.0  1.0    1.0  0.0   38200.0       6.0        526.0
198      1.0  0.0    1.0  0.0   60500.0      12.0        340.0
199      0.0  1.0    1.0  0.0   26700.0      12.0        459.0

[200 rows x 16 columns]

In [690]:
tableData["Gender"]=tableData["*"].idxmax(0)
tableData["Age"]=tableData[["Young","Adulthood","Old Adulthood"]].idxmax(1)
tableData["children"]=tableData[["Few","Average"]].idxmax(1)
tableData["OwnHome"]=tableData[["**n","***t"]].idxmax(1)
tableData["History"]=tableData["**"].idxmax(0)
tableData["Married"]=tableData[["****le","*****ed"]].idxmax(1)
tableData["Location"]=tableData[["Close","Far"]].idxmax(1)

tableData=tableData.drop(["Young","Adulthood","Old Adulthood","Few","Average","**n","***t","****le","*****ed","*","**","Close","Far"],axis=1)
tableData=pd.concat([tableData,y_set],axis=1)

In [691]:
print(tableData.head())

     Salary  Catalogs  AmountSpent  Gender            Age children OwnHome  \
0   52400.0      18.0        857.0       0      Adulthood      Few    ***t
1   92400.0       6.0       2191.0       0      Adulthood      Few    ***t
2   50100.0      18.0       1071.0       0      Adulthood      Few     **n
3   46700.0      24.0        983.0       0      Adulthood      Few    ***t
4  107400.0      12.0       1485.0       0  Old Adulthood      Few     **n

   History  Married Location Actual Customer segments  \
0        0   ****le    Close             ****** value
1        0  *****ed      Far               Hi********
2        0   ****le      Far             *****m value
3        0  *****ed    Close             Me**********
4        0  *****ed    Close             Medi********

  Predicted Customer segments
0                *****m value
1                  **** value
2                *****m value
3                *****m value
4                Medi********

In [692]:
tableData.to_csv('Advanced analytics with preserving privacy techniques.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'Advanced analytics with preserving privacy techniques.csv'